.edit_template {
    margin: 3vw 0 0 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 300;
    text-transform: capitalize;
    position: relative;
}

.edit_template_buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.edit_template_buttons>button {
    border: 3px solid gray;
    border-radius: 9px;
    margin: 3vw 0 0 0;
    width: 30%;
    height: 5vh;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 500;
    text-transform: capitalize;
    // background: rgba(255, 255, 255, 0.25);
    // box-shadow: 1px 9px 15px 0px rgba(0, 17, 255, 0.37);
    // backdrop-filter: blur(4px);
    // -webkit-backdrop-filter: blur(4px);
    // border-radius: 10px;
    // border: 1px solid rgba(255, 255, 255, 0.18);
}

@media only screen and (min-width: 1200px) {
    .edit_template {
        margin: 0.3vw 0 0 0;
        width: 60%;
    }

    .edit_template>button {
        margin: 0.3vw 0 0 0;
        width: 30%;
    }
}