.movie_card_container {
    border: 1px solid gray;
    border-radius: 18px;
    margin: 18vh auto;
    padding: 9px;
    width: 90%;
    overflow-x: scroll;

    background-color: black;
}

.movie_card {
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
}

.title {
    font-size: 20px;
    left: 20px;
    top: 5px;
}

.genre {
    left: 20px;
    top: 30px;
    font-size: 12px;
    font-weight: bold;
}

.genre_label {
    position: relative;
    display: inline-block;
    margin-right: 2px;
    background-color: rgb(184, 2, 2);
    color: white;
    padding: 2px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 2px;
}