.main {
    border: 1px solid gray;
    border-radius: 18px;
    margin: 18vh auto;
    padding: 9px;
    width: 90%;
    height: 45vh;
    overflow-x: scroll;

    background-color: black;

    /* background-color: rgba(0, 0, 0, 0.03); */
    /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    overflow-x: hidden;
    overflow-y: scroll; */
}

/* .main {
    position: absolute;
    width: 410px;
    height: 520px;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.03);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    overflow-x: hidden;
    overflow-y: scroll;
} */

.message-list {
    position: relative;
    left: 20px;
    top: 20px;
    font-size: 12px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

.message-list>li {
    position: relative;
    width: 340px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 10px;
    margin-bottom: 5px;
    display: block;
    animation: redwhite 0.5s ease-out;
}

@keyframes redwhite {
    0% {
        background-color: #ff2e0a;
    }

    100% {
        background-color: #ffffff;
    }
}

.users-list {
    position: relative;
    left: 20px;
    top: 20px;
    margin: 0px;
    padding: 0px;
}

.profile_card {
    border: 1px solid gray;
    border-radius: 30px;
    margin: 3vh auto;
    padding: 15px;
    /* position: relative; */
    width: 90%;
    background-color: #fff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.profile_pic {
    border: 1px solid transparent;
    border-radius: 50px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    /* position: absolute; */
    /* top: 20px;
    left: 20px; */
}

.profile_name {
    /* position: absolute;
    top: 30px;
    left: 120px; */
    font-weight: bold;
    font-size: 16px;
}

.profile_email {
    /* position: absolute;
    top: 50px;
    left: 120px; */
    font-size: 12px;
}

.profile_phone {
    /* position: absolute;
    top: 75px;
    left: 120px; */
    font-weight: bold;
    font-size: 12px;
    color: rgb(9, 66, 9);
}