.tictactoe_navigation {
    border: 1px solid black;
    margin: 1vh auto;
    padding: 1vh;
    width: 90vw;
    background-color: black;
}

.logo h1 {
    padding: 0 3vh;
    background-color: snow;
}

.game_zone {
    border: 1px solid transparent;
    margin: 3vh auto;
    width: 90%;
}



/* Board */

.game_container {
    border: 1px solid transparent;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(3, 18vh);
    grid-template-columns: repeat(3, 18vh);
}

.game_container .box {
    border: 1px solid gray;
    margin: 0 auto;
    width: 60%;
    height: 60%;
    font-size: 18px;
}

.game_container .box:hover {
    background-color: black;
    color: lightgreen;
    cursor: pointer;
}

.x_hover:hover::after {
    content: "X";
    opacity: 0.3;
    color: snow;
}

.o_hover:hover::after {
    content: "O";
    opacity: 0.3;
    color: snow;
}

.strike {
    margin: 5.3vh auto 0 5vh;
    position: absolute;
    background-color: darkorange;
}

.strike-row-1 {
    width: 80%;
    height: 4px;
    top: 15%;
}

.strike-row-2 {
    width: 80%;
    height: 4px;
    top: 33%;
}

.strike-row-3 {
    width: 80%;
    height: 4px;
    top: 56%;
}

.strike-column-1 {
    height: 40%;
    width: 4px;
    top: 21%;
    left: 6%;
}

.strike-column-2 {
    height: 40%;
    width: 4px;
    top: 21%;
    left: 40%;
}

.strike-column-3 {
    height: 40%;
    width: 4px;
    top: 21%;
    left: 74%;
}

.strike-diagonal-1 {
    width: 70%;
    height: 4px;
    top: 40%;
    left: 5%;
    transform: skewY(45deg);
}

.strike-diagonal-2 {
    width: 70%;
    height: 4px;
    top: 40%;
    left: 5%;
    transform: skewY(-45deg);
}