.add_edit_blogs {
    border: 2px solid transparent;
    height: 100vh;
    font-family: "Poppins", sans-serif;
}

.blog_container {
    margin: 9vh auto 0 auto;
}

.create_blog {
    padding: 9px;
    color: gray;
}

.input_field {
    border: 1px solid gray;
    margin: 6px auto;
    padding: 9px;
    width: 100%;
    font-size: 21px;
    outline: none;
}

.react_tag {
    padding: 0px;
    font-size: 24px;
}

.category_dropdown {
    font-size: 18px;
}

.file_control {
    font-size: 18px;
}

@media only screen and (min-width : 768px) {
    .blog_container {
        margin: 12vh auto 0 auto;
        width: 40%;
    }

    .input_field {
        margin: 6px auto;
        padding: 6px;
        width: 100%;
        font-size: 15px;
        outline: none;
    }

    .react_tag {
        padding: 3px;
    }

    .category_dropdown {
        font-size: 15px;
    }
    
    .file_control {
        font-size: 15px;
    }
}