.footer {
    margin: 3em auto 0 auto;
    width: 100vw;
    background-color: black;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: absolute;
    bottom: 0;
}

.terms_condition {
    margin: 0 auto;
    padding: 0 0 0 1em;
    width: 94%;
}

.terms_condition p {
    color: snow;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
}

