.calc {
    border: 3px solid black;
    margin: 0 auto;
    height: 100vh;
    background-color: transparent;
    position: relative;

    flex-direction: column;
    justify-content: space-between;
}

.calc[data-theme="dark"] {
    background-color: black;
}

.calc_nav {
    border: 3px solid transparent;
    position: absolute;
    right: 12px;
}

.light_mode_toggle_circle {
    // border: 3px solid red;
    border-radius: 50%;
    margin: 0 6px;
    width: 36px;
    height: 36px;
}

// .light_mode_active {
//     margin-left: 15px;
// }

.light_mode img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.light_mode img[data-theme="dark"] {
    border: 3px solid snow;
}



// Calc Head

.calc_head {
    border: 3px solid green;
    width: 100%;
    height: 24vh;
}



// Calc Keypad

.calc_keypad {
    border: 3px solid red;
    width: 100%;
    height: 72%;
}

.keys {
    border: 3px solid black;
    border: 3px solid yellowgreen;
}