.content_landing_page {
    /* border: 3px solid snow; */
    height: 90vh;
    padding: 27vh 0 0 0;
}

.content_landing_page>h1 {
    /* border: 3px solid red; */
    width: 90vw;
    color: snow;
    font-family: Dela Gothic One, sans-serif;
    font-size: 24px;
}

@media only screen and (min-width: 768px) {
    .content_landing_page {
        /* border: 3px solid snow; */
        margin: 0 auto;
        width: 63%;
    }

    .content_landing_page>h1 {
        /* border: 3px solid snow; */
        width: 90%;
        font-size: 30px;
    }
}