.spinner {
    position: fixed;
    top: 40%;
    right: 50%;
    left: 45%;
    transform: translate(-50%, 50%);
    z-index: 110;
}

.svg_spinner>img {
    margin: 0 auto;
    width: 60px;
    height: 60px;
}