.app_links {
    border: 2px solid red;
    margin: 9em auto;
}

.mySwiper {
    border: 5px solid blue;
}

.e_com_swiper {
    border: 3px solid green;
    height: 18vh;
    display: flex;
    align-items: center;
    justify-content: center;
}