.application_link {
    margin: 3vh auto;
    padding: 3vw 5.3vw;
    width: 100%;
    height: fit-content;

    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 3vw;
    overflow-x: scroll;
    overflow-y: hidden;

    align-items: center;
    justify-content: space-between;
}

.box {
    border: 2px solid red;
    border-radius: 3vw;
    width: 320px;
    height: 180px;
    box-shadow: 1px 1px 12px 1px gray;
}

@media only screen and (min-width: 768px) {
    .application_link {
        width: 50%;
    }

    .box {
        border-radius: 1vw;
        width: 240px;
        height: 120px;
    }
}


