.content_landing_page {
    text-transform: capitalize;
}

.content_landing_page h1 {
    font-family: "Kanit", sans-serif;
    font-weight: 600;
}

.content_landing_page p {
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    text-align: justify;
}