.nav_component {
    border: 1px solid transparent;
    background-color: black;
    width: 100vw;

    position: fixed;
    top: 0;
    z-index: 997 !important;
}

main {
    border: 3px solid transparent;
    margin: 24vh auto;
    width: 72%;
}

.para_content {
    border: 1px solid transparent;
    margin: 3vh auto 9vh auto;
}

.para_content p {
    margin: 0 auto 3vh auto;
    text-align: justify;
    text-transform: capitalize;
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    line-height: 21px;
}

.for_desktop_view {
    display: none;
}

.react_projects {
    display: block;
}

.about p {
    border: 1px solid transparent;
    margin: 18vh auto 9vh auto;
    width: 76%;
    text-align: justify;
    text-transform: capitalize;
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    line-height: 21px;
}

footer {
    border: 1px solid black;
    margin: 0vh auto;
    padding: 3vh 0;
    background-color: black;
}

.footer h3 {
    margin: 0 auto;
    width: 76%;
    text-align: justify;
    text-transform: capitalize;
    font-size: 15px;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    line-height: 21px;
    color: gray;
}



@media only screen and (min-width: 768px) {

    main {
        margin: 24vh auto;
        width: 54%;
    }

    .for_desktop_view {
        border: 1px solid transparent;
        margin: 6vh auto;
        display: block;
        text-transform: capitalize;
    }

    .react_projects {
        display: none;
        text-transform: capitalize;
    }

    footer {
        margin: 3vh auto;
        padding: 10px
    }
}