/* .project_container {
    border: 1px solid transparent;
    width: 70vw;
    margin: 1vh auto;
}

.project_container>.content_page {
    border: 1px solid transparent;
    margin: 30vh auto 9vh auto;
    width: 100%;
}

.project_container>.project_info {
    border: 1px solid transparent;
    border-radius: 12px;
    margin: 0 auto 15vh auto;
    padding: 3vh 1vh;
    background-color: snow;
    box-shadow: 3px 1px 12px gray;
}

.project_container>.project_info>.background_img {
    border: 1px solid transparent;
    width: 100%;
    height: 21vh;
}

.project_container>.project_info>.about_pro {
    margin: 3vh auto;
    text-transform: capitalize;
    text-align: justify;
    font-weight: 400;
}

.project_container>.project_info>.pro_links {
    border: 1px solid transparent;
    justify-content: space-between;
}

#foodDel {
    border: 3px solid black;
    border-radius: 100%;
    width: 30px;
    height: 30px;
}

#foodDel>svg {
    font-size: 15px;
    color: black;
}



.project_container>.para_content {
    border: 1px solid transparent;
    padding-top: 6vh;
    text-align: justify;
    line-height: 21px;
    opacity: 1;
    transition: 0.9s;
}

.project_container>.para_content>p {
    font-weight: 400;
}

.project_container>.para_content>h4 {
    margin: 3vh auto;
}

@media only screen and (min-width: 768px) {
    .project_container {
        display: none;
    }
} */