.Header {
    border: 2px solid black;
    background-color: black;
}

.container {
    margin: 0 auto;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .logo {
    border: 6px solid rgb(253, 0, 127);
    border: 6px solid snow;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    background: url(../../Images/logo1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2vw;

    color: snow;
}

@media only screen and (min-width: 768px) {
    .Header {
        border-radius: 1vw;
        margin: .6vw auto;
        padding: 1vw;
        width: 99vw;
    }

    .container {
        width: 66vw;
    }
}