.ntfctn {
    border: 1px solid black;
    border-radius: 18px;
    margin: 9vh auto;
    padding: 9px;
    width: 90%;
}

.notification_widget {
    border: 1px solid transparent;
    height: 100px;
    display: flex;
}

.toggle_btn {
    border: 1px solid red;
    border-radius: 18px;
    margin: 0 6px 0 0;
    width: 30%;
    height: 96px;
    background-color: rgba(250, 0, 0, 0.8);
    color: snow;

    display: flex;
    align-items: center;
    justify-content: center;
}

.notification_text {
    border: 1px solid black;
    border-radius: 18px;
    padding: 12px;
    width: 70%;
    background-color: black;
    color: snow;
}