.ui_components {
    border: 1px solid transparent;
    margin: 0 auto;
    width: 85%;
}

.ui_components>.content_landing_page {
    border: 1px solid transparent;
    margin: 30vh auto 9vh auto;
    width: 90%;
}