.music_nav {
    background: linear-gradient(to right, snow );
    padding: .6em 0;
    z-index: 9;
}

.music_smartphone {
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.music_for_desktop {
    display: none;
}

.music_nav_elements {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.music_menu_icon {
    z-index: 9;
}

.music_logo {
    padding: .3em;
    position: relative;
}

// .music_circle {
//     border: 3px solid rgb(255, 187, 0);
//     border-radius: 50%;
//     width: 40px;
//     height: 40px;
//     position: absolute;
//     margin-left: auto;
//     margin-right: auto;
//     top: 0;
//     left: 0;
//     right: 0;
//     text-align: center;
//     z-index: 1;
// }

.music_logo h3 {
    color: gray;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

// .music_about {
//     border: 3px solid snow;
//     border-radius: 50%;
// }

.music_about>a .MuiSvgIcon-root {
    font-size: 30px;
    font-weight: 900;
    color: gray;
}

.music_navigation_section {
    padding: 3em 0;
    width: 60vw;
    height: 100vh;
    // background-color: #FCA311;
    background-color: antiquewhite;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.2s ease-in-out 0s;
    z-index: 4;
}

.music_navigation_section.ovverlay {
    transform: translateX(0px);
}

.music_navigation_element {
    border-radius: .6em;
    margin: 1em auto;
    width: 180px;
    height: 40px;
    background-color: transparent;
    padding: 0em .6em;
    display: flex;
    align-items: center;
    justify-content: right;
}

.empty_element {
    border: 0px;
    background-color: transparent;
}

.music_navigation_element a {
    // color: #FCA311;
    color: gray;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-style: italic;
}

.music_links {
    border-radius: 100%;
    width: 60px;
    height: 60px;
    color: snow;
    // background-color: #FCA311;
    background-color: gray;
    font-size: 18px;
    box-shadow: 1px 0px 12px 1px snow;

    position: fixed;
    right: 9vw;
    bottom: 12vh;

    animation: animate 0.3s;
    transition: 0.3s;
    z-index: 999;
}


// menu icon

.music_menu_icon .hamburger.is-active .hamburger-inner,
.music_menu_icon .hamburger.is-active .hamburger-inner::before,
.music_menu_icon .hamburger.is-active .hamburger-inner::after {
    background-color: gray;
}

.music_menu_icon .hamburger-inner,
.music_menu_icon .hamburger-inner::before,
.music_menu_icon .hamburger-inner::after {
    width: 21px;
    height: 3px;
    background-color: gray;
    border-radius: 3px;
    position: absolute;
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
}



@media only screen and (min-width: 768px) {

    .music_smartphone {
        width: 80%;
    }

    .music_menu_icon {
        display: none;
    }

    .music_about {
        display: none;
    }

    .music_for_desktop {
        width: 45%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .music_for_desktop a {
        color: snow;
    }
}


