.error_container {
    border: 3px solid gray;
    border-radius: 18px;
    margin: 9vh auto 18vh auto;
    padding: 9px;
    width: 80%;
}


.product {
    background-color: rgba(0, 0, 0, 0.1);
}

.product-name {
    border: 1px solid gray;
    margin: 12px auto;
    padding: 6px;
    font-family: "Kanit", sans-serif;
    font-size: 15px;
}

.product-cost {
    font-weight: bold;
}

.cat-btn {
    display: inline-block;
    background-color: #000;
    border-radius: 12px;
    padding: 8px;
    color: #fff;
    font-size: 14px;
    margin: 10px;
    cursor: pointer;
}

.cat-btn-on {
    background-color: rgb(163, 31, 31);
}

.categories {
    text-align: center;
}

.error {
    border: 3px solid red;
    margin: auto;
}

.pick-text {
    font-weight: bold;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.3);
    text-align: center;
}

.reset-btn {
    background-color: rgb(196, 42, 42);
    color: #fff;
    font-size: 15px;
    padding: 10px;
    cursor: pointer;
    display: inline-block;
}