.form_container {
    border: 3px solid gray;
    border-radius: 18px;
    margin: 9vh auto 18vh auto;
    padding: 9px;
    width: 80%;
    background-color: black;
}

.form_fields {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    padding: 9px 18px;
    background-color: snow;
}

.output {
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.5);
}

.field_holder>input,
select,
textarea {
    border-radius: 12px;
    padding: 9px;
    width: 100%;
    font-size: 15px;
}

.label {
    font-size: 12px;
}

.ot-field {
    color: #fff;
    font-size: 17px;
    padding: 5px;
}

.bold {
    font-weight: bold;
}

.red {
    border: 1px solid red;
}