$WhColor: white;
$blueColor: blue;
$redColor: red;

.top_navigation {
    width: 100vw;
    height: 9vh;
    background-color: black;
    // box-shadow: 1px 1px 10px 0px black;

    position: fixed;
    top: 0;

    z-index: 999 !important;
}

.for_smartphone {
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: fit-content;
}

.logo a>img {
    width: 12vw;
}

.nav_elements {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.github_icon {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    background-color: snow;
}

.github_icon a>svg {
    width: 6vw;
}

.navigation_section {
    border-right: 6px solid snow;
    width: 60vw;
    height: 100vh;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.2s ease-in-out 0s;
    z-index: 4;
}

// .navigation_section_elements {
//     border: 2px solid red;
//     margin: 30vw auto 0 auto;
//     width: 90%;
//     font-family: 'Kanit', sans-serif;
//     font-style: italic;
// }

// .navigation_categories {
//     border: 2px solid red;
//     border-radius: 9px;
//     margin: 12px auto;
//     padding: 6px;
//     justify-content: space-between;
//     background-color: rgb(36, 36, 36);
// }

// .category_button {
//     border: 2px solid blue;
// }

.category_button>.button_icon {
    border-radius: 100%;
    width: 4px;
    height: 4px;
    background-color: snow;
    margin: 3px 0;
}

// .category_icon_name>.category_icon {
//     border: 2px solid greenyellow;
// }

.category_icon_name>.category_icon>.icon {
    color: snow;
    font-size: 18px;
}

.category_icon_name>.category_name {
    padding: 0 6px;
}

.category_icon_name>.category_name>h3 {
    color: snow;
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    font-size: 15px;
}

.about_btn {
    display: none;
}

.menu_icon {
    z-index: 9;
}

.navigation_section.overlay {
    transform: translateX(0px);
}


// Menu Icon Start

.hamburger {
    // padding: 3px 3px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
}

.hamburger:hover {
    opacity: 0.7;
}

.hamburger.is-active:hover {
    opacity: 0.9;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: snow;
}

.hamburger-box {
    margin-top: 2px;
    outline: 0px;
    width: 30px;
    height: 20px;
    display: inline-block;
}

.hamburger-inner {
    display: block;
    top: 50%;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 21px;
    height: 3px;
    background-color: snow;
    border-radius: 3px;
    position: absolute;
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -9px;
}

.hamburger-inner::after {
    bottom: -9px;
}


.hamburger--3dx .hamburger-box {
    perspective: 90px;
}

.hamburger--3dx .hamburger-inner {
    transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1),
        background-color 0s 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dx .hamburger-inner::before,
.hamburger--3dx .hamburger-inner::after {
    transition: transform 0s 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dx.is-active .hamburger-inner {
    background-color: transparent !important;
    transform: rotateY(180deg);
}

.hamburger--3dx.is-active .hamburger-inner::before {
    transform: translate3d(0, 9px, 0) rotate(45deg);
}

.hamburger--3dx.is-active .hamburger-inner::after {
    transform: translate3d(0, -9px, 0) rotate(-45deg);
}

// Menu Icon End


// for social network links in top nav component

.social_network_links {
    margin: 45vw auto 0 auto;
    width: 70%;
    font-family: 'Kanit', sans-serif;
    font-style: italic;
    font-weight:300;
}

.social_network_links a {
    border: 2px solid snow;
    border-radius: 3vw;
    margin: 1em 0;
    padding: .3em .6em;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: snow;
    font-size: 15px;
    font-family: 'Kanit', sans-serif;
    font-style: italic;
}

.social_network_links a img {
    border-radius: 50%;
    margin: 0 2vw 0 0;
    width: 24px;
    height: 24px;
    background-color: snow;
}

@media only screen and (min-width: 768px) {
    .links {
        position: fixed;
        right: 23vw;
        bottom: 15vh;
        box-shadow: 1px 3px 12px 1px black;
    }

    .social_network_links {
        margin: 6vw auto;
    }

    .social_network_links a {
        border-radius: 0.6vw;
        // margin: 1vw 0;
        // padding: 0.6vw;
        font-size: 0.9vw;
    }

    .social_network_links a img {
        width: 18px;
        height: 18px;
    }
}

// complete 


@media only screen and (min-width: 600px) {
    .navigation {
        height: 10vh;
    }

    .log_in_icon {
        height: 10vh;
    }
}

@media only screen and (min-width: 540px) {
    .logo a h4 {
        font-size: 20px;
    }

    .navigation_buttons {
        width: 18%;
    }

    .log_in_icon {
        width: 5vw;
    }

    .navigation_section_elements a h5 {
        font-weight: 900;
        font-size: 3vw;
    }
}

@media only screen and (min-width: 768px) {
    .navigation {
        background-color: rgba(255, 0, 0, 0.9);
    }

    .logo a h4 {
        font-size: 30px;
    }

    .navigation_buttons {
        width: 20%;
    }

    .log_in_icon {
        width: 7vw;
    }

    .navigation_section_elements a h5 {
        font-weight: 900;
    }
}

@media only screen and (min-width: 900px) {
    .nav {
        margin: 0 auto;
        width: 70%;
    }

    .logo a h2 {
        font-size: 24px;
        line-height: 21px;
    }

    .navigation_section {
        width: 20vw;
    }

    .navigation_buttons {
        width: 15%;
    }

    .log_in_icon {
        width: 50px;
    }
}

@media only screen and (min-width: 1100px) {
    .navigation_buttons {
        width: 12%;
    }

    .log_in_icon {
        width: 30px;
    }

    .navigation_section_elements {
        margin: 6vw auto 0 auto;
        width: 90%;
    }

    .navigation_section_elements a h5 {
        margin: 1vw 0;
        border-radius: .6vw;
        padding: 0 3vw;
        height: 6vh;
        font-size: 1vw;
        font-weight: 900;
        letter-spacing: 1px;
    }
}

@media only screen and (min-width: 1200px) {
    .for_smartphone {
        width: 50%;
    }

    .logo {
        border: 0px solid snow;
    }

    .logo a>img {
        width: 3.3vw;
    }

    .nav_elements {
        width: 9vw;
    }

    .github_icon {
        width: 30px;
        height: 30px;
        background-color: snow;
    }

    .github_icon a>svg {
        width: 24px;
    }

}