.calc {
    height: 100vh;
    background-color: rgb(0, 0, 60);
}

.calc_elements {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.calc_screen {
    border-radius: 1em;
    margin: .3em auto;
    padding: 1em .3em;
    width: 94%;
    height: 18vh;
    text-align: right;
    background-color: black;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.calc_previous {
    height: 100%;
    font-size: 1em;
    font-weight: bold;
    color: snow;
}

.calc_current {
    font-size: 1.6em;
    font-weight: bold;
    color: snow;
}

.calc_buttons {
    margin: .3em auto;
    padding: 1em 0;
    width: 92%;

    display: grid;
    grid-template-columns: auto auto auto auto;
    // grid-template-columns: repeat(4, auto);
    // grid-template-rows: minmax(auto, auto) repeat(5, auto);
}

.calc_buttons button {
    border: 3px solid snow;
    border-radius: 3em;
    margin: .2em;
    color: snow;
    background-color: red;
    font-weight: bold;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.control {
    grid-row: 1 / span 2;
}

.calc_button:active {
    background-color: black;
}


@media only screen and ( min-width : 768px) {
    .calc_elements {
        width: 24vw;
        margin: 0 auto;
    }
}


