.bottom_navigation {
    height: 9vh;
    width: 100vw;
    background-color: red;
    /* background-color: rgba(255, 0, 0, 0.9); */
    box-shadow: 1px 1px 10px black;

    position: fixed;
    bottom: 0vh;
}