.links {
    border: 5px solid blue;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    color: black;
    background-color: snow;
    font-size: 18px;
    box-shadow: 1px 1px 6px 1px gray;

    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(36px);
    -webkit-backdrop-filter: blur(18px);

    position: fixed;
    right: 9vw;
    bottom: 12vh;

    animation: animate 0.3s;
    transition: 0.3s;
    z-index: 999;
    box-shadow: 3px 1px 15px gray;
}

.links:active {
    transform: scale(0.8);
}

.links>svg {
    color: blue;
    font-size: 24px;
}

.mail {
    border: 3px solid crimson;
    border-radius: 100%;
    width: 36px;
    height: 36px;
    color: crimson;
    background-color: snow;
    font-size: 18px;
    box-shadow: 1px 1px 6px 1px gray;

    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(36px);
    -webkit-backdrop-filter: blur(18px);

    position: fixed;
    right: 11vw;

    animation: animate 0.3s;
    transition: 0.3s;
    z-index: 999;

    box-shadow: 3px 1px 15px gray;
}

.mail>a>svg {
    color: crimson;
}

.mail:active {
    transform: scale(0.8);
}



.whatsapp {
    border: 3px solid #25D366;
    border-radius: 100%;
    width: 36px;
    height: 36px;
    color: black;
    background-color: snow;
    font-size: 18px;
    box-shadow: 1px 1px 6px 1px gray;

    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);

    position: fixed;
    right: 11vw;

    animation: animate 0.3s;
    transition: 0.3s;
    z-index: 999;

    box-shadow: 3px 1px 15px gray;
}

.whatsapp>a>svg {
    color: #25D366;
    font-size: 24px;
}



@media only screen and (min-width: 768px) {

    .links {
        right: 25vw;
        bottom: 12vh;
    }

    .whatsapp {
        right: 25.4vw;
    }

    .mail {
        right: 25.4vw;
    }
}



/* .call_animate a .MuiSvgIcon-root {
    font-size: 66px;
} */



/* .eqr {
    border: 6px solid red;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    text-align: center;

    position: fixed;
    bottom: 90px;
    right: 20px;

    box-shadow: 1px 1px 9px 3px rgb(100, 100, 100);
    transition: 0.3s;

    z-index: 3;
}

.eqr h1 {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    color: red;
}

.eqr:hover {
    cursor: pointer;
}

.eqr:active {
    transform: scale(0.8);
} */



/* porfolio links */

/* #eqr-click {
    visibility: hidden;
}

.links {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    box-shadow: 1px 1px 9px 3px rgb(130, 130, 130);

    position: fixed;
    right: 36px;
    bottom: 100px;

    visibility: hidden;
}

.call {
    border: 3px solid black;
    background: url(../Images/call.png) no-repeat;
    background-position: center;
    background-size: 100%;
    transition: 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#eqr-click:checked~.call {
    bottom: 200px;
    visibility: initial;
}

.telegram {
    background: url(../Images/Telegram_2019_Logo.svg) no-repeat;
    background-size: 100%;
    background-position: center;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    ;
}

#eqr-click:checked~.telegram {
    visibility: initial;
}

.mail {
    background: url(../Images/Gmail.svg) no-repeat;
    background-color: snow;
    background-size: 70%;
    background-position: center;
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    ;
} */

/* #eqr-click:checked~.mail {
    bottom: 280px;
    visibility: initial;
}

.linkedin {
    background: url(../Images/linkedin.webp) no-repeat;
    background-size: 96%;
    background-position: center;
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    ;
}

#eqr-click:checked~.linkedin {
    bottom: 360px;
    visibility: initial;
}

.github {
    background: url(../Images/github.png) no-repeat;
    background-size: 100%;
    background-position: center;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    ;
} */

/* #eqr-click:checked~.github {
    bottom: 440px;
    bottom: 520px;
    visibility: initial;
}

@media screen and (min-width : 768px) {
    .eqr {
        bottom: 150px;
        right: 90px;
    }

    .links {
        bottom: 156px;
        right: 106px;
    }

    #eqr-click:checked~.call {
        bottom: 260px;
    }

    #eqr-click:checked~.mail {
        bottom: 340px;
    }

    #eqr-click:checked~.linkedin {
        bottom: 420px;
    }

    #eqr-click:checked~.github {
        bottom: 500px;
    }
}

@media screen and (min-width : 900px) {
    .eqr {
        right: 120px;
    }

    .links {
        right: 133px;
    }
}

@media screen and (min-width : 1100px) {
    .eqr {
        width: 70px;
        height: 70px;
        right: 200px;
        bottom: 90px;
    }

    .eqr h1 {
        font-size: 12px;
    }

    .links {
        width: 40px;
        height: 40px;
        right: 216px;
        bottom: 96px;
    }

    #eqr-click:checked~.call {
        bottom: 180px;
    }

    #eqr-click:checked~.mail {
        bottom: 240px;
    }

    #eqr-click:checked~.linkedin {
        bottom: 300px;
    }

    #eqr-click:checked~.github {
        bottom: 360px;
    }
} */