.crud {
    border: 9px solid transparent;
    height: 100vh;
    position: relative;
}

.crudsubcompo {
    border: 0px solid transparent;
    margin: 6px 0;
}

// CRUDNav
.crudnav {
    border: 1px solid gray;
    border-radius: 9px;
    padding: 3px;
}

.crudnav>.crudnavele {
    border: 3px solid transparent;
    height: 54px;
    justify-content: space-between;
}

.crudnavele>.mbtn {
    border: 1px solid gray;
    border-radius: 9px;
    padding: 9px;
}

.crudnav>.crudnavele>.inpforsearch>input {
    border: 1px solid gray;
    border-radius: 9px;
    padding: 9px;
    width: 75vw;
    font-family: "Kanit", sans-serif;
}



// CRUDNavB

.crudnavb {
    border: 1px solid gray;
    border-radius: 9px;
    width: 100%;
    padding: 3px;
    position: absolute;
    bottom: 0;
}

.crudnavb>.crudnavele {
    border: 3px solid transparent;
    height: 9vh;
    justify-content: space-between;
}



// Sidebar
.crudsidebar {
    border: 1px solid gray;
    border-radius: 9px;
    margin: 9px auto;
    padding: 0 9px;
    overflow-x: auto;
}

.crudsidebar>.crudsidebarele>button {
    border: 1px solid gray;
    border-radius: 9px;
    margin: 9px 3px;
    padding: 0 9px;
    width: 90px;
    height: 27px;
    background-color: black;
    color: snow;
    justify-content: space-between;
    text-transform: uppercase;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-size: 9px;
}



// CRUD directory
.cruddir {
    border: 1px solid gray;
    border-radius: 9px;
    margin: 9px auto;
    padding: 9px;
    width: 100%;
}

.cruddirele {
    border-top: 1px solid rgb(201, 201, 201);
    border-bottom: 1px solid rgb(201, 201, 201);
    padding: 3px 0;
    // justify-content: center;
}

.notes {
    border-bottom: 1px solid rgb(201, 201, 201);
    padding: 3px 0;
    justify-content: space-between;
}

.notes>.notesele>button {
    border-radius: 6px;
    padding: 0 6px;
    width: 90px;
    height: 27px;
    background-color: black;
    color: snow;
    box-shadow: 1px 1px 3px gray;
}

.notes>.notesele>.notesicons {
    font-size: 12px;
    justify-content: space-between;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    text-transform: capitalize;
}

.borderbot {
    border-bottom: 2px solid blue;
}



// Notes




// Note

.note {
    border: 1px solid rgb(201, 201, 201);
    border-radius: 6px;
    margin: 6px auto;
    padding: 3px;
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    color: gray;
}