

.for_android {
    border: 2px solid green;
    display: none;
}

.oauth {
    // border: 0px solid gray;
    margin: 18px auto;
    width: 90%;
    height: 42px;
}

.oauth>button {
    border: 1px solid gray;
    border-radius: 9px;
    padding: 3px;
    width: 100%;
    height: 100%;
    font-size: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 1200px) {
    .oauth {
        width: 50%;
    }

    .oauth>button {
        width: 60%;
    }
}