// .my_profile {
//     border: 2px solid red;
// }

.edit_template {
    margin: 3vw 0 0 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 300;
    text-transform: capitalize;
    position: relative;
}

.edit_template_buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.edit_template_buttons>div {
    border: 3px solid gray;
    border-radius: 9px;
    margin: 3vw 0 0 0;
    width: 30%;
    height: 5vh;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 4vw;
    font-style: italic;
    font-weight: 500;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.edit_name {
    color: snow;
    background: red;
}

.edit_template_buttons>button {
    border: 3px solid gray;
    border-radius: 9px;
    margin: 3vw 0 0 0;
    width: 30%;
    height: 5vh;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 500;
    text-transform: capitalize;
}

.e_com_create_listing_button {
    margin: 2em auto;
    display: flex;
    align-items: center;
}

.e_com_create_listing_button a {
    margin: 0 auto;
    width: 90%;
}

.e_com_create_listing_button>a>button {
    border: none;
    outline: none;
    border-radius: .6em;
    margin: 0 auto;
    padding: 1em;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(124, 124, 255);
    color: snow;
}

@media only screen and (min-width: 1200px) {
    .edit_template {
        margin: 0.3vw 0 0 0;
        width: 60%;
    }

    .edit_template>button {
        margin: 0.3vw 0 0 0;
        width: 30%;
    }

    .edit_template_buttons>div {
        font-size: 0.9vw;
    }
}



