// .blog_create {
//     border: 2px solid red;
// }

form {
    border: 2px solid green;
    margin: 3vh auto;
    width: 90%;
}

form .form_control {
    border: 1px solid gray;
    border-radius: 1vw;
    margin: 1vh 0;
    padding: 2vh;
    width: 100%;
}

.for_trending {
    // border: 2px solid black;
    padding: 1vh;
    text-transform: capitalize;
}

.for_img {
    // border: 2px solid black;
    padding: 1vh;
    text-transform: capitalize;
}

.three_vh {
    height: 15vh;
}

.submit_button {
    margin: 1vh 0;
    width: 100%;
}

.submit_button button {
    border-radius: 1vw;
    margin: 1vh 0;
    padding: 2vh;
    width: 100%;
    background-color: rgb(89, 114, 255);
    color: snow;
}

@media only screen and (min-width: 768px) {
    .blog_create {
        margin: 0 auto;
        width: 50vw;
    }

    form {
        margin: 0;
        width: 50%;
    }

    form .form_control {
        border-radius: 0.6vw;
    }

    .submit_button button {
        border-radius: 0.6vw;
    }
}


