.product {
    border: 2px solid blue;
    margin: 9vw auto 3vw auto;
    width: 98vw;
}

.product h3 {
    margin: 3vw 0 6vw 3vw;
    font-family: "Monsterrat", sans-serif;
    font-size: 30px;
    font-weight: 900;
    color: black;

    display: flex;
    align-items: center;
}

.product .container {
    border: 2px solid blue;
}

.container .product_categories {
    border: 2px solid snow;
    display: grid;
    width: 100%;
    grid-template-columns: initial;
}

.menu {
    border-top: 2px solid snow;
    border-bottom: 2px solid snow;
    padding: 0 3vw;
    /* width: 98vw; */
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 3vw;
    overflow-y: hidden;
}

.menu>li {
    border: 2px solid snow;
    border-radius: 3vw;
    margin: 3vw auto;
    width: 33vw;
    height: 5vh;
    font-family: "Monsterrat", sans-serif;
    overflow-x: scroll;
    font-size: 5vw;
    font-weight: bold;
    text-align: center;
    color: black;
    transition: 0.3s;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(253, 1, 148, 0.37);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(9px);
}

.menu>li:hover {
    color: snow;
    cursor: pointer;
}

.list {
    border: 2px solid black;
    padding: 3vw 0;
    display: grid;
    align-items: center;
    justify-content: space-around;
    /* grid-template-columns: repeat(auto-fill, minmax(130px, 1fr)); */
    grid-template-columns: auto auto;
    grid-column-gap: 3vw;
    grid-row-gap: 3vw;

    height: 60vh;

    overflow-y: scroll;
}

.left_s {
    border: 2px solid blue;
    padding: 3vw;
    width: 40vw;
    height: 30vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 18px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(253, 1, 148, 0.37);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(9px);

    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

    box-sizing: border-box;
    overflow: hidden;
}

.img_p {
    border: 2px solid greenyellow;
    width: 15vw;
    height: 30vh;
}

.name {
    font-size: 12px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 768px) {
    .product {
        border: 2px solid blue;
        margin: 9vw auto 3vw auto;
        width: 66vw;
    }

    .product h3 {
        margin: 2vw 0 2vw 0;
        font-family: "Monsterrat", sans-serif;
        font-size: 30px;
        font-weight: 900;
        color: snow;
        display: flex;
        align-items: center;
    }

    .product .container {
        border: 2px solid blue;
    }

    .container .product_categories {
        border: 2px solid snow;
        display: grid;
        width: 100%;
        grid-template-columns: 21% auto;
    }

    .menu {
        border: 2px solid greenyellow;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .menu>li {
        border: 2px solid snow;
        padding: .3vw;
        border-radius: 3vw;
        margin: 0;
        width: initial;
        height: initial;
        font-family: "Monsterrat", sans-serif;
        overflow-x: scroll;
        font-size: 1vw;
        font-weight: bold;
        text-align: center;
        color: black;
        transition: 0.3s;
    }

    .menu>li:hover {
        color: rgb(255, 0, 140);
        cursor: pointer;
    }

    .list {
        display: grid;
        /* grid-template-columns: auto auto auto; */
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-column-gap: 1vw;
        grid-row-gap: 1vw;

        height: 50vh;

        overflow-y: scroll;
    }

    .left_s {
        border: 2px solid black;
        width: 15vw;
        height: 18vh;
        text-align: center;
        display: flex;
        /* flex-direction: column; */
        align-items: center;
        justify-content: space-between;
        position: relative;

        border-radius: 18px;
        /* background-color: snow; */
        background: rgba(255, 255, 255, 0.3);
        box-shadow: 0 8px 32px 0 rgba(1, 18, 253, 0.37);
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);

        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);

        box-sizing: border-box;
        overflow: hidden;
    }

    .img_p {
        border: 2px solid greenyellow;
        width: 6vw;
        height: 30vh;

        transform: rotate(-20deg);
        position: absolute;
        right: 0;
        bottom: -5vw;
    }

    .name {
        font-size: 12px;
        font-weight: 600;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}