.mouse_events {
    border: 3px solid gray;
    border-radius: 18px;
    margin: 9vh auto 18vh auto;
    padding: 9px;
    width: 80%;
    // background-color: black;
}

.manage_events h1 {
    border-bottom: 1px solid blue;
    font-size: 30px;
}

.form_fields {
    flex-direction: column;
    justify-content: space-between;
}

.form_fields input {
    border: 1px solid rgb(190, 190, 190);
    border-radius: 12px;
    margin: 3vh auto;
    padding: 1.6vh;
    width: 90%;
    box-shadow: 3px 1px 12px rgb(241, 241, 241);
}

.form_fields button {
    border: 1px solid transparent;
    border-radius: 12px;
    margin: 3vh auto;
    padding: 1.6vh;
    width: 90%;
    box-shadow: 3px 1px 12px rgb(241, 241, 241);
}






/* Mouse Events */

/* body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    position: absolute;
    border: 1px solid;
    width: 500px;
    height: 500px;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    padding: 20px;
} */

.stats {
    border: 3px solid black;
    border-radius: 12px;
    padding: 9px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

#clear-btn {
    // position: absolute;
    // right: 10px;
    // padding: 5px;
    border-radius: 6px;
    margin: 0 9px;
    padding: 3px;
    font-family: "Kanit", sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.canvas {
    position: relative;
    border: 1px solid gray;
    border-radius: 12px;
    margin: 6px auto 0 auto;
    background-color: rgba(0, 0, 0, 0.1);
    height: 450px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.dot {
    border: 3px solid red;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: red;
    display: inline-block;
}