.test {
    border: 2px solid blue;
    margin: 9vw auto 3vw auto;
}

@media only screen and (min-width: 768px) {
    .testimonial {
        border: 2px solid snow;
        margin: 0 auto;
        width: 66vw;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .test_wrapper {
        border: 2px solid red;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        align-items: flex-end;
    }
    
    .test_wrapper>:nth-child(1) {
        font-size: .8rem;
        text-align: left;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
    }

    .container {
        border: 2px solid black;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .container :nth-child(1) {
        font-weight: bold;
    }
    
    .test_wrapper>img {
        border: 2px solid greenyellow;
        width: 12vw;
        justify-self: center;
    }

    .test_wrapper>:nth-child(3) {
        text-align: right;

        display: flex;
        flex-direction: column;

        font-size: .8rem;
        text-transform: uppercase;
    }

    .reviews {
        margin: .9vw auto;
        font-size: 1.3rem;
        font-weight: bold;
        color: snow;
    }

    .test_carousel {
        border: 2px solid blue;
        width: 100%;
    }

    .carousel_info {
        border: 2px solid red;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: relative;
        background: snow;
    }

    .carousel_info>img {
        border: 3px solid snow;
        border-radius: 100%;
        width: 3.3rem !important;
        height: 3.3rem !important;
        /* position: absolute !important;
        top: -2rem !important;
        left: 40%; */
    }

    .carousel_info :nth-child(2) {
        font-size: .8rem;
    }

    .carousel_info :nth-child(3) {
        font-weight: bold;
    }
}